{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {
        "node": true
    },
    "rules": {
      "no-undef": 0,
      "no-console": 0,
      "no-unused-vars": 1,
      "react/prefer-stateless-function": 0,
      "no-trailing-spaces": 0
    }
}
